html {
background-color: #5b9aa0;
background-color: #622569;
}
 
 body {font-family: 'Monotype corsiva', sans-serif;
      background-color: #622569;
	  color: #622569;
      position: relative;

}
 
 .container {
margin-left: auto;
margin-right: auto;
margin-top: 3em;
width: 40em;
min-height: 30em;
background-color: #b8a9c9;
padding: 1em;
}
#page1
{
visibility: visible;
height: auto;
}

#page2
{
visibility: hidden;
height: auto;
}

img
{ vertical-align: text-top;
max-width: 400px;
max-height: 400px;
}

#nav ul
{
list-style-type:none;
width: 100%;
line-height: 20px;
} #nav li
{
display: inline;
} #nav a
{
padding: 6px 20px;
line-height: 40px;
text-align: center;
text-decoration: none;
background-color: #622569;
color: #b8a9c9;
width: 86px;
} #nav a:hover
{
background-color: #d6d4e0;
}

/* korttien väritystä */      
.card-header {background-color: #d6d4e0;}
.card-body {background-color: #d6d4e0;}

